* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
    width: 100%;
}

.wrapper {
    min-width: 769px;
    max-width: 90%;
    margin: 0 auto;
}

header {
    background-color: #BF5B5B;
}

nav {
    max-width: 1366px;
    height: 60px;
    position: sticky;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    max-width: 130px;
    max-height: 30px;
    margin-left: 40px;
    align-self: center;
}

header ul{
    display: flex;
    gap: 60px;
    width: 50%;
    padding: 0 0 0 30px;
}

header ul li {
    text-transform: uppercase;
    list-style: none;
    align-self: center;
    font-size: 12px;
    line-height: 115%;
}

header ul li a{
    color: white;
    text-decoration-line: underline;
    font-weight: 800;
}

.hero {
    background-color: #394149;
    height: 50vh;
}

.hero-content {
    display: flex;
    height: 100%;
}

.hero-img {
    flex-basis: 50%;
}



.hero-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.hero-text {
    align-self: center;
    padding-left: 90px;
    flex-basis: 50%;
}

.hero-text p {
    color: white;
    font-weight: 500;
    font-size: 22px;
    line-height: 115%;
    max-width: 80%;
    margin: 0;
}

.hero-text button {
    border: none;
    background-color: #BF5B5B;
    max-width: 215px;
    max-height: 80px;
    text-transform: uppercase;
    color: white;
    font-weight: 800;
    font-size: 22px;
    line-height: 115%;
    padding: 24px 34px;
    margin-top: 10px
}


.top-section {
    background-color: #BF5B5B;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
}

.top-content .section-item {
    flex-basis: 50%;
    display: flex;
    width: 50%;
}

.top-content .section-item > * {
    align-self: center;
}

.top-content .section-item p {
    color: white;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 115%;
    margin: 0 20px;
}

.top-content .section-item img, 
.top-content .section-item p {
    flex: 1;
}

.top-content .section-item:last-child p,
.top-content .section-item:first-child p
{
    flex: 2;
}

.top-content .section-item .white-background {
    background-color: white;
    height: 100%;
    color: black;
}

.top-content .section-item img {
    height: 100%;
    object-fit: cover;
}

.top-content .section-item div {
    flex: 1;
}

.top-content .section-item div img {
    object-fit: cover;
}

.section-item {
    height: 240px;
}

.another-section {
    height: 500px;
    background-color: antiquewhite;
}






