html {
    height: 100vh;
    margin: 0;
}


/* TASK dark, light  */
body.light {
    --color: #000;
    --bgColor: #fff;
}

body.dark {
    --color: #fff;
    --bgColor: #000;
}

body {
    color: var(--color);
    background-color: var(--bgColor);
}

/* TASK BMI */
/* #height-error,
#weight-error,
#age-error {
    color: red;
}

.gender,
.activity-level {
    display: flex;
    align-items: center;
    gap: 10px;
}

p {
    font-size: 18px;
    color: rgb(230, 111, 111);
}

.calc-button {
    margin-top: 10px;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    background-color: rgb(167, 247, 220);
}

#result {
    font-size: 20px;
    color: red;
} */

/* TASK CALCULATOR */
.container {
    margin: 0 auto;
    max-width: 400px;
}
.display {
    border: 2px solid black;
    min-height: 40px;
}
.numbers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    flex-grow: 1;
}
.operators {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.buttons {
    display: flex;
    gap: 10px;
}

